/*********BODY*/

body {
    padding-top: 80px;
}


nav {
    height: 20vh;


}

.deleteButton {
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2%;
    font-size: 100%;
    min-width: 90px;
}

.messageContainer {
    border: 1px solid black;
    height: 90vh;
    overflow: auto;
    font-size:17px;
    padding: 2%;
}

/*NAVIGATION*/

#logo > span {
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;

}

#logo {
    margin-right: 1em;
}

#message-field {
    width: 95%;
    height: 45px;
    font-size: 20px;
    margin-left: 4%;
}


#myNav {
    background: white;
    margin-top: 0;
    padding: 1% 0 1% 3%;
}

#clear-button {
    font-size: 20px;
    text-align: center;
}

/*Checkboxes*/


#checkboxes {
    padding-bottom: 2em;
    font-size: 20px;
    padding-right: 10%;
}

#checkBoxes {
    height: 10vh;


}

label {
    margin-right: 3%;
    margin-left: 4%;
    font-weight: 400;
}

/*DARKTHEME*/
.darkThemeBody {
    background-color: darkgrey;
}

.darkText {
    color:white;
}
