/*********BODY*/

body {
    padding-top: 80px;
}


nav {
    height: 20vh;


}

.deleteButton {
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2%;
    font-size: 75%;
    min-width: 60px;
}

.editButton {
    margin-left: 2%;
    width: 15%;
    margin-bottom: 2%;
    font-size: 75%;
    min-width: 60px;
}

.messageContainer {
    border: 1px solid black;
    height: 90vh;
    overflow: auto;
    font-size:17px;
    padding: 2%;
}

/*NAVIGATION*/

#logo > span {
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;

}

#logo {
    margin-right: 1em;
}

#message-field {
    width: 95%;
    height: 45px;
    font-size: 20px;
    margin-left: 4%;
}


#myNav {
    background: white;
    margin-top: 0;
    padding: 1% 0 1% 3%;
}

#clear-button {
    font-size: 20px;
    text-align: center;
}

/*Checkboxes*/


#checkboxes {
    padding-bottom: 2em;
    font-size: 20px;
    padding-right: 10%;
}

#checkBoxes {
    height: 10vh;


}

label {
    margin-right: 3%;
    margin-left: 4%;
    font-weight: 400;
}


/*Message Styling*/


/*style for user name*/

.userName {
    font-weight: bold;
    font-size: 1.1em;
}

.messageTime {
    font-size: .5em;
}


/*DARKTHEME*/
.darkThemeBody {
    background-color: darkgrey;
}

.darkText {
    color:white;
}







/*RESPONSIVE*/

@media (min-width: 768px) and (max-width: 991px) {

    body {
        padding-top: 120px;
    }

    #clear-button {
        margin-left: 90px;
    }

    #logo {
        text-align: center;
        letter-spacing: 10px;
        margin-bottom: 10px;
    }

    #message-field {
        width: 115%;
    }

    #checkboxes {
        margin-left: 5%;
    }

}

@media (max-width: 768px) {

    body {
        padding-top: 170px;
    }

    #clear-button {
        margin-left: 30%;
    }

    #logo {
        text-align: center;
        letter-spacing: 10px;
        margin-bottom: 10px;
    }

     #message-field {
        width: 90%;
    }

     #checkboxes {
        padding-left: 24%;
        font-size: 20px;
    }

    #messageContainer {
        margin-left: 50%;
        margin-right: 50%;
    }

    #theme {
        display: inline;
    }

}

@media (max-width: 458px) {

    #checkboxes {
        padding-right: 42%;
        font-size: 17px;
    }

    #textSize {
        display: inline-block;
    }

    #large-label {
        display: inline;
    }

}
